
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@font-face { font-family: Comfortaa; src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');}
:root {
  background-image: url("../img/Background.png");
  background-size: cover;
  
  padding: 0 1em 0 1em;

  --pico-font-family: Comfortaa, cursive;
  --pico-text-selection-color: rgba(2, 154, 232, 0.25);
  --pico-h4-color: #ffffff;
  
  color: white;
}

.text {
  font-family: Comfortaa;
  color: #ffffff;
}

.logo {
  text-align: center;
}

