
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@font-face { font-family: Comfortaa; src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');}
:root {
  padding: 0 1em 0 1em;

  --pico-font-family: Comfortaa, cursive;
  --pico-text-selection-color: rgba(2, 154, 232, 0.25);
  --pico-h4-color: #ffffff;
  
  background-color: #13171f;

  color: white;
}

.text {
  font-family: Comfortaa;
  color: #ffffff;
  text-align: left;
}

.logo {
  text-align: center;
}

.topbar {
  position: fixed
}

.logo-bg {
  background-image: url("../img/Background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  padding-top: 5%;
}