
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@font-face { font-family: Comfortaa; src: url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

:root {
  padding: 0 1em 0 1em;

  --pico-font-family: Comfortaa, cursive;
  --pico-text-selection-color: rgba(2, 154, 232, 0.25);
  --pico-h4-color: #ffffff;
  --pico-h6-color: #ffffff;
  
  background-color: #13171f;

  color: white;
}

.text {
  font-family: Comfortaa;
  text-align: left;
}

.white {
  color: #ffffff;
}

.logo {
  padding-top: 7.5%;
  padding-bottom: 7.5%;
}

.center {
  text-align: center;
}

.topbar {
  position: sticky
}

.logo-bg {
  background-image: url("../img/Background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
}

.title {
  padding-top: 2.5%;
}

.small-text {
  font-size: x-small;
}

.full-page {
  width: calc(100vw - 50%);
  max-width: 75vw;
  max-height: 75vh;
}

.text-gradient {
  background: linear-gradient(to right, #ff8a00 0%, #dd4c4f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.padding {
  padding-top: 1.5%;
}

.center-block {
  margin: 0 auto;
  vertical-align: middle; /* или bottom */
}